src/main/mule/pgpsigneddemomule4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="5002e5d2-ff91-4552-9a62-194496b8c43d" >
		<vm:queues >
			<vm:queue queueName="pgpSignedVm" />
		</vm:queues>
	</vm:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6df183bd-8ea7-4f57-90b3-ea992fd81f7a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<crypto:pgp-config name="Crypto_Pgp" doc:name="Crypto Pgp" doc:id="b77ea9a7-e80c-48ae-845a-69b693f3590d" publicKeyring="D:\Mule-Study\anypoint7workspace\pgpsigneddemomule4\src\main\resources\certFolder\publicCert.pgp" privateKeyring="D:\Mule-Study\anypoint7workspace\pgpsigneddemomule4\src\main\resources\certFolder\privateKey.pgp" >
		<crypto:pgp-key-infos >
			<crypto:pgp-asymmetric-key-info keyId="pgpSignedKellton" principal="Sadik Ali &lt;sadik.ali@kelltontech.com&gt;" passphrase="1234567890" />
		</crypto:pgp-key-infos>
	</crypto:pgp-config>
	<flow name="pgpsigneddemomule4Flow" doc:id="18f875f2-8027-4af5-9df3-1fea8fe0d76e" >
		<http:listener doc:name="Listener" doc:id="f9b51bf7-5de5-4d0f-8b3f-eb5a362e78f1" config-ref="HTTP_Listener_config" path="/pgpSigned"/>
		<crypto:pgp-sign doc:name="Pgp sign" doc:id="26bc3004-cf24-476f-ab32-594c36c94504" config-ref="Crypto_Pgp" keyId="pgpSignedKellton" target="signedValues"/>
		<logger level="INFO" doc:name="Logger" doc:id="ccbe3218-0d4e-45b6-a305-2b6a61ea3c23" message="Main flow logs : ---------------------------#[payload]"/>
		<vm:publish doc:name="Publish" doc:id="c78c6ce5-896d-4a2a-9ef8-94b938187401" config-ref="VM_Config" queueName="pgpSignedVm" sendCorrelationId="ALWAYS" correlationId="#[vars.signedValues]">
		</vm:publish>
	</flow>
	<flow name="pgpsignedDecrypt" doc:id="125a07ed-678c-4e8f-8c54-2bd15869d2bc" >
		<vm:listener doc:name="Listener" doc:id="fd0b42ad-5ae3-49a2-9813-ef220c66e29d" config-ref="VM_Config" queueName="pgpSignedVm"/>
		<logger level="INFO" doc:name="Logger" doc:id="aab030e3-02fc-49de-8427-86061842310a" message="-----------------------Second flowlogs before decrypt ------------- #[payload]"/>
		<crypto:pgp-validate doc:name="Pgp validate" doc:id="c9ccb9ff-cfc2-4b25-a480-088d2130de8c" config-ref="Crypto_Pgp" expected='#[attributes.correlationId]'/>
		<logger level="INFO" doc:name="Logger" doc:id="a1bbbdcf-76fa-4c6d-a5a1-d8a50820264c" message="-----------------------Second flowlogs after  decrypt ------------- #[payload]"/>
	</flow>
</mule>
